.bounding-box {
    box-shadow: 0 0 0 3px #149df2 inset;
    cursor: pointer;
}

.nameAbove {
    color:#149df2;
    text-transform: capitalize;
    font-weight: 900;
}

.box {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}